GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE
DATABASE_URL = "postgresql://username:password@localhost:5432/your_database_name?schema=public"

PORT=3000
NODE_ENV=development

# configuracio de postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=tu_contraseña_segura_aqui
DB_HOST=localhost
DB_PORT=5432
POSTGRES_DB=HomeScope

#Clave para los tokwns JWT
JWT_SECRET="secret_key"

#Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=