PORT=
NODE_ENV=

# Credenciales de PostgreSQL desde docker-compose
DB_USER=TU_USER
DB_PASSWORD=TU_PASSWORD
DB_HOST=TU_HOST
DB_PORT=PUERTO
DB_NAME=NOMBRE_DB

# Cadena de conexión completa
DATABASE_URL=TU_CADENA_DE_CONEXION

#Clave para los tokwns JWT
JWT_SECRET=TU_CLAVE
